<html lang="en">
<head>
  <title>Ansible: Automation for Everyone</title>
</head>
<body>
    <p>{{ apache_test_message }}</p>
<footer>{{ inventory_hostname }}<br /><br /><br />DevOps and Ansible by Vipin Gupta</footer>
</body>
</html>
